# Identificando valores vazios

In [35]:
import pandas as pd
import numpy as np

tabela = pd.read_csv("clientes.csv")
display(tabela)

tabela["TotalGasto"] = pd.to_numeric(tabela["TotalGasto"], errors = "coerce")

# verificar valores vazios e tipos de valores

print(tabela.info())

print("---------------------------------------------------------")

print(tabela.isna().sum())

,IDCliente,Dependentes,MesesComoCliente,TipoContrato,FormaPagamento,TotalGasto
0,7010-BRBUU,Sim,72.0,2 anos,CartaoCredito,1734.65
1,9688-YGXVR,Nao,NaN,Mensal,CartaoCredito,3973.2
2,9286-DOJGF,Nao,NaN,Mensal,DebitoAutomatico,2869.85
3,6994-KERXL,Nao,4.0,Mensal,BoletoEletronico,238.5
4,2181-UAESM,Nao,2.0,Mensal,BoletoEletronico,119.5
...,...,...,...,...,...,...
5981,0684-AOSIH,Nao,1.0,Mensal,BoletoEletronico,95
5982,5982-PSMKW,Sim,23.0,2 anos,CartaoCredito,2198.3
5983,8044-BGWPI,Sim,12.0,Mensal,BoletoEletronico,306.05
5984,7450-NWRTR,Nao,12.0,Mensal,BoletoEletronico,1200.15
5985,4795-UXVCJ,Nao,26.0,Anual,CartaoCredito,457.3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         5986 non-null   object
 1   Dependentes       5985 non-null   object
 2   MesesComoCliente  5984 non-null   float64
 3   TipoContrato      5986 non-null   object
 4   FormaPagamento    5986 non-null   object
 5   TotalGasto        5976 non-null   float64
dtypes: float64(2), object(4)
memory usage: 280.7+ KB
None
---------------------------------------------------------
IDCliente            0
Dependentes          1
MesesComoCliente     2
TipoContrato         0
FormaPagamento       0
TotalGasto          10
dtype: int64

### Removendo valores vazios

In [37]:
# 0 -> exclui linhas, 1 -> exclui colunas
# tabela = tabela.dropna(how="any", axis=0)
# display(tabela)

### Tratando valores vazios

In [ ]:
#Preenchendo valores vazios com a média 

# media = tabela["MesesComoCliente"].mean()
# tabela["MesesComoCliente"] = tabela["MesesComoCliente"].fillna(media)
# display(tabela)

In [33]:
# Preenchendo com valor anterior
# tabela["MesesComoCliente"] = tabela["MesesComoCliente"].fillna(method="ffill")
# display(tabela)

In [38]:
# preencher com valores interpolados
tabela["MesesComoCliente"] = tabela["MesesComoCliente"].interpolate()
display(tabela)

,IDCliente,Dependentes,MesesComoCliente,TipoContrato,FormaPagamento,TotalGasto
0,7010-BRBUU,Sim,72.000000,2 anos,CartaoCredito,1734.65
1,9688-YGXVR,Nao,49.333333,Mensal,CartaoCredito,3973.20
2,9286-DOJGF,Nao,26.666667,Mensal,DebitoAutomatico,2869.85
3,6994-KERXL,Nao,4.000000,Mensal,BoletoEletronico,238.50
4,2181-UAESM,Nao,2.000000,Mensal,BoletoEletronico,119.50
...,...,...,...,...,...,...
5981,0684-AOSIH,Nao,1.000000,Mensal,BoletoEletronico,95.00
5982,5982-PSMKW,Sim,23.000000,2 anos,CartaoCredito,2198.30
5983,8044-BGWPI,Sim,12.000000,Mensal,BoletoEletronico,306.05
5984,7450-NWRTR,Nao,12.000000,Mensal,BoletoEletronico,1200.15
5985,4795-UXVCJ,Nao,26.000000,Anual,CartaoCredito,457.30